        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-image: url("img/head.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            color: white;
            padding: 50px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 3rem;
            letter-spacing: 1px;
        }


        nav {
            background-color: rgb(6, 6, 6);
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 12px 20px;
            margin: 0 10px;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: background-color 0.3s ease;
        }

        nav a:hover {
            background-color: #777;
        }

   
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            text-align: center;
            background-image: url("img/background.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 50px;
        }

        .content h2 {
            color: #fff;
            font-size: 2.5rem;
            margin: 0;
        }

    
        .card-container {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 30px;
        }

        .card {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card h3 {
            color: #333;
            font-size: 1.5rem;
        }

        .card p {
            color: #666;
            font-size: 1rem;
        }

       
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }